#header {
    background-color: white;
    margin-bottom: 1.45rem;
}

#header > #title {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
}

#header > #title > h1 {
    margin: 0;
}

#header > #title > h1 > #titleLink {
    color: black;
    text-decoration: none;
}

#header > #title > p {
    margin-top: 10px;
}