#main {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 2.45rem;
}

#home_list{
    margin: 0;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.3);
}

#home_list > li {
    padding: 10px;
    display: block;
    border-radius: 10px;
}

@keyframes aniHover {
    from {
        box-shadow: 0px 0px 0px gray;
        background-color: none;
    }
    to {
        box-shadow: 0px 0px 15px gray;
        background-color: rgba(255, 255, 255, 0.3);
    }
}

#home_list > li:hover {
    box-shadow: 0px 0px 15px gray;
    background-color: rgba(255, 255, 255, 0.3);
    animation-name: aniHover;
    animation-duration: 0.5s;
}

#home_list a {
    text-decoration: none;
    color: black;
}

#home_list a > h3 {
    margin: 0;
}

#home_list a > p {
    margin: 10px 0;
}

video {
    height: 100%;
    position: fixed;
    z-index: -1;
}