#home_list{
    margin: 0;
    list-style: none;
}

#home_list > li {
    padding: 10px;
    display: block;
    border-radius: 10px;
}

#home_list a {
    text-decoration: none;
    color: black;
}

#home_list a:hover{
    box-shadow: 0px 0px 10px gray;
}

#home_list a > h3 {
    margin: 0;
}

#home_list a > p {
    margin: 10px 0;
}