@import './global.scss';

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  src: url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 24px;
}

.AppContent {
  margin: 0 25%;
  flex-grow: 1;
}

.HeaderComponent,
.FooterComponent {
  padding: 0 25%;
  display: flex;
}

@media (min-width: 321px) and (max-width: 768px) {
  .App > * {
    margin: 0;
    padding: 0 30px;
  }

  .HeaderComponent {
    font-size: 20px;
  }
}
